*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    font-family: sans-serif;
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    background-color: darkseagreen;
    color: beige;
}

.main {
    font-family: sans-serif;
    background-color: goldenrod;
}

.footer {
    font-family: sans-serif;
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    background-color: coral;
    color: lime;
}

.header,
.footer {
    height: 10vh;
}

.wrap {
    height: 100%;
    width: 100%;
    font-size: 14px;
    width: 1200px;
    margin: 0 auto;
}

.main {
    height: 80vh;
}

.main h1 {
    font-weight: 700;
    font-size: 48px;
    text-align: center;
}
